<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/" style="color: blue;">JUGUETERIA</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" routerLink="/clientes">CLIENTES</a>
          <a class="nav-item nav-link" routerLink="/juguetes">JUGUETES</a>
          <a class="nav-item nav-link" routerLink="/proveedores">PROVEEDORES</a>
          <a class="nav-item nav-link link-success" routerLink="/ventas">VENTAS CLIENTES</a>
          <a class="nav-item nav-link link-warning" routerLink="/compras">COMPRA PROVEEDORES</a>
        </div>
      </div>
    </nav>
</div>