<div class='container'>
    <div class='row'>
        <div class='col-sm-12'>
            
            <form class='form-inline'>
                <fieldset class='form-group col-sm-11'></fieldset>
                
                <fieldset class='form-group col-sm-1'>
                    <a class= 'btn btn-primary' routerLink="proveedor/new">+</a>
                </fieldset>
            </form>
            <br>
            <table class='table table-striped'>
                <thead>                
                    <tr>
                        <th class='col-sm-6'>NOMBRE COMPLETO</th>
                        <th class='col-sm-6'>CIF</th>
                        <th class='col-sm-6'>TELEFONO</th>
                        <th class='col-sm-6'>MOVIL</th>
                        <th class='col-sm-6'>CORREO</th>
                        <th class='col-sm-6'>CALLE</th>
                        <th class='col-sm-6'>CIUDAD</th>
                    </tr>
                </thead>
                <tbody *ngIf="proveedores">
                    <tr *ngFor='let proveedor of proveedores'>
                        <td class='col-sm-6'>
                            <i>{{proveedor.nombreCompleto}}</i>
                        </td>
                        
                        <td class='col-sm-6'>
                            <i>{{proveedor.cif}}</i>
                        </td>

                        <td class='col-sm-6'>
                            <i>{{proveedor.contacto.telefono}}</i>
                        </td>

                        <td class='col-sm-6'>
                            <i>{{proveedor.contacto.movil}}</i>
                        </td>

                        <td class='col-sm-6'>
                            <i>{{proveedor.contacto.correo}}</i>
                        </td>
                        
                        <td class='col-sm-6'>
                            <i>{{proveedor.direccion.calle}}</i>
                        </td>
                        
                        <td class='col-sm-6'>
                            <i>{{proveedor.direccion.ciudad}}</i>
                        </td>

                        <td class=”col-sm-1”>
                            
                        </td>

                        <td class=”col-sm-1”>
                            <a class='btn btn-info' routerLink="proveedor/{{proveedor.id}}/edit">Editar</a>
                        </td>


                        <td class=”col-sm-1”>
                            <a class='btn btn-info' (click)="borrar(proveedor.id)">-</a>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

