<div class="container">
    
    <!--Formulario de la compra-->
    <form [formGroup] = "perfileForm" (ngSubmit)="comprar()">
            <h1>COMPRAS PROVEEDORES</h1>

            <br>

        <div>
            <p>SELECIONE EL PROVEEDOR DONDE COMPRAR: </p>

            <select formControlName="proveedorSelect" class="form-control" name="proveedorSelect" required="">
                <option value="" disabled selected hidden>SELECCIONE UN PROVEEDOR...</option>
                <option *ngFor="let proveedor of proveedores" [value]="proveedor.id">{{proveedor.nombreCompleto}}</option>
            </select>

        </div>

        <div>
            <p>SELECIONE EL PRODUCTO A COMPRAR: </p>
        
            <select formControlName="jugueteSelect" class="form-control" name="jugueteSelect" required="">
                <option value="" disabled selected hidden>SELECCIONE UN JUGUETE...</option>
                <option *ngFor="let juguete of juguetes" [value]="juguete.id">{{juguete.nombre}}</option>
            </select>

        </div>

        <br>
        
        <button type="submit" class="btn btn-primary" [disabled]="!perfileForm.valid">COMPRAR</button>
    </form>
    

    <br>

    <!--Recibo de la compra que se muestra tras la compra-->
    <div *ngIf="jugueteComprado && proveedorCompra" style="background-color: bisque;">
        <h3 style="color: crimson;">RECIBO DE COMPRA REALIZADA:</h3>
        <br>
        <p>PROVEEDOR DE COMPRA: {{proveedorCompra.nombreCompleto}}</p>
        <p>ARTICULO DE COMPRA: {{jugueteComprado.nombre}}</p>
        <p>COSTE DEL ARTICULO: {{jugueteComprado.precioCompra}}€</p>
    </div>
    

</div>