<div class="container">
    <div class="col-sm-12">
        <form [formGroup]="perfileForm" (ngSubmit)="guardar()">

            <fieldset class="form-group">

                <div class="col-sm-12">
                    <label class="control-label" for="nombreCompleto">NOMBRE Y APELLIDOS: </label>
                    <input type="text" class="form-control" formControlName="nombreCompleto" name="nombreCompleto" required="">
                </div>

            </fieldset>

            <fieldset class="form-group">

                <div class="col-sm-3">
                    <label class="control-label" for="nif">NIF</label>
                    <input type="text" class="form-control" formControlName="nif" name="nif" required=""/>
                </div>

            </fieldset>

            <div formGroupName="contacto">

                <fieldset class="form-group" >

                    <h3>CONTACTO</h3>
    
                    <div class="col-sm-3">
                        <label class="control-label" for="telefono">TELEFONO</label>
                        <input type="text" class="form-control" formControlName="telefono" name="telefono" required="">
                    </div>
    
                    
                    <div class="col-sm-3">
                        <label class="control-label" for="movil">MOVIL</label>
                        <input type="text" class="form-control" formControlName="movil" name="movil" required="">
                    </div>
    
                    <div class="col-sm-3">
                        <label class="control-label" for="correo">CORREO</label>
                        <input type="text" class="form-control" formControlName="correo" name="correo" required="">
                    </div>
                </fieldset>

            </div>
                            
            <div formGroupName="direccion">

                <fieldset class="form-group">

                    <h3>DIRECCION</h3>
    
                    <div class="col-sm-3">
                        <label class="control-label" for="calle">CALLE</label>
                        <input type="text" class="form-control" formControlName="calle" name="calle" required="">
                    </div>
    
                    
                    <div class="col-sm-3">
                        <label class="control-label" for="ciudad">CIUDAD</label>
                        <input type="text" class="form-control" formControlName="ciudad" name="ciudad" required="">
                    </div>
    
                </fieldset>    

            </div>

            <fieldset class="form-group" style="margin-top: 5%;">
            
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary" [disabled]="!perfileForm.valid">GUARDAR</button>
                    <button type="button" class="btn btn-primary" (click)="volver()" style="margin-left: 5%;">VOLVER</button>
                </div>
            
            </fieldset>
        </form>
    </div>
</div>
